importFrom("grDevices", "col2rgb", "colorRamp", "dev.cur", # "dev.new",
           "grey", "rainbow", "rgb", "terrain.colors")
importFrom("graphics", "abline", "hist", "legend", "lines", "matplot",
           "par", "rect", "text", "grid")
importFrom("stats", "aggregate", "cor", "hclust", "lm", "loess",
           "model.matrix", "na.omit", "quantile", "rbinom", "reshape",
           "rmultinom", "rnorm", "runif", "var", "wilcox.test")
importFrom("methods", "new")
importFrom("utils", "sessionInfo")
    
importFrom(VGAM,rlaplace,rpareto,zeta)

importFrom(abind,abind)

import(#abind, 
#animation, 
#cluster, 
#glmnet,
#graphics, 
#grDevices, 
#grid,
igraph, 
#lars, 
#lattice, 
limma, 
magic, 
#movMF,
msgps,
#Mfuzz,
#methods, 
pixmap,
plotrix,
nnls, 
#plotrix, 
splines, 
#stats, 
stats4, 
survival, 
tnet#, 
#utils,
#WGCNA
)

exportMethods(
    "analyze_network",
    "clustExploration",
    "clustInference",
    "compare",
    "cutoff",
    "dim",
    "evolution",
    "gene_expr_simulation",
    "geneNeighborhood",
    "genePeakSelection",
    "geneSelection",
    "head",
    "inference",
    "probeMerge",
    "plot",
    "position",
    "predict",
    "print",
    "summary",
    "unionMicro"
#    "unionNGseq",
)

exportClasses(
    "micro_array",
#     "nextgen_seq",
     "network",
     "micropredict"
#,     "ngseqpredict"
)

export("network_random",
       "unsupervised_clustering_auto_m_c",
       "unsupervised_clustering",
       "as.micro_array",
       "plotF",
       #"as.nextgen_seq",
       "replaceBand",
       "replaceUp",
       "replaceDown",
       "IndicFinit",
       "IndicFshape",
       "CascadeFshape",
       "CascadeFinit")